<div class="nav-bar">
  <!-- App Title -->
  <div class="left-padding" id="title">
    Sporcle Playlist Maker
  </div>

  <!-- Home Tab -->
  <div (click)="clickHome()" class="center" id="home" [ngClass]="{
      'tab-selected': home_tab_selected, 
      'tab-unselected': !home_tab_selected
    }">
    Home
  </div>

  <!-- About Tab -->
  <div (click)="clickAbout()" class="center" id="about" [ngClass]="{
    'tab-selected': !home_tab_selected, 
    'tab-unselected': home_tab_selected
    }">
    About
  </div>

  <!-- Remaining Nav Bar -->
  <div class="center" id="remaining">
    &nbsp;
  </div>
</div>

<!-- This is where the content of the pages render -->
<router-outlet class="bottom-page"></router-outlet>


