.nav-bar {
    display: inline-flex;
    height: 10%;
    width: 100%;
}

.left-padding {
    display:flex;
    padding-left: 8%;
    align-items:center;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}

#title {
    width: 49%;
    background-color: rgb(0 42 100 / 69%);
    font: small-caps bold 36px/1 sans-serif;
    color: white;
    left: 5%;
    cursor: default;
}

.tab-unselected {
    background-color: rgb(0 42 100 / 69%);
    color: white;
    cursor: pointer;
}

.tab-selected {
    background-color: transparent;
    color: #00000094;
    cursor: default;
}

#home {
    width: 17.5%;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align:center;
}

#about {
    width: 17.5%;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align:center;
}

#remaining {
    width: 8%;
    background-color: rgb(0 42 100 / 69%);
    cursor: default;
}

.bottom-page {
    bottom: 0px;
    height: 90%;
    width: 100%;
}