.wide-short-box {
    display: block;
    height: 15%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 4%;
    padding-top: 2%;
}

.wide-tall-box {
    margin-top: 5%;
    display: block;
    height: 50%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 4%;
    padding-top: 2%;
}

.title {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: black;
    width: 100%;
}

.wide-input {
    display: inline-block;
    width: 50%;
    height: 28%;
    border-style: solid;
    border-color: #808080a6;
    border-width: 2px;
    font-size: 20px;
    padding-left: 0.5%;
}

.small-square {
    margin-left: 0.5%;
    height: 26px;
}

.tooltip-icon {
    background-color: #767676;
    color: white;
    font-size: 24px;
    margin-left: 0.3%;
    border-radius: 100%;
    padding: 2px 9px 2px 9px;
}